$primary-color: #02081D;
$secondary-color: #253CAB;

$default-font-color: #333333;

$header-height: 48px;
$footer-height: 32px;

$default-transition-time: .2s;

$border-radius: 0.25rem;
$border-thickness: 0.1rem;